<!DOCTYPE html>
<head>
    <%- include('layout/head'); %>
    <title>Index</title>
</head>
<body>
    <div class="container">
        <%- include('layout/header'); %>
        <div id="main">

        </div>
        <%- include('layout/footer'); %>
    </div>
</body>
</html>